@charset "UTF-8";

TaskManagement
{
	background-color: #F0F0DF;
}

Tasks
{
	float: left;
	width: 80.0%;
	vertical-align:top;
}

Task
{
	vertical-align: top;
	display: inline-block;
	width: calc(30%);
	height: 30.0%;
	background-color: #25284E;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 2px solid #0F1B27;
}

Task name
{
	padding: 0 0 2px 10px;
	display: block;
	font-size: 20pt;
	background-color: #FFFFFF;
	border-radius: 8px 8px 0 0;
	border: 2px solid #0F1B27;
	border-bottom: 0;
}

status:before
{
	width: 100%;
	padding: 0 0 5px 13px;
	display: block;
	font-size: 14pt;
	font-weight: bold;
	color: green;

	background-color: #FFFFFF;
	border-radius: 0 0 8px 8px;
	box-sizing: border-box;
	border: 2px solid #0F1B27;
	border-top: 0;
}

status[value="Done"]:before
{
	content: "Ukończono";
	color: green;
}

status[value="InProgress"]:before
{
	content: "W trakcie realizacji";
	color: blue;
}

status[value="Queueded"]:before
{
	content: "W kolejce";
	color: red;
}

people
{
	display: flex;
	padding: 0 10px;
	margin: 10px auto;
	background-color: #FFFFFF;
	border-radius: 8px;
	border: 2px solid #0F1B27;

}

people > *
{
	text-align: left;
	display: inline;
}

requestedBy::before
{
	content: "Przypisane przez ";
}

assignedTo::before
{
	content: " do ";
	white-space: pre;
}

dates
{
	display: flex;
	flex-wrap: wrap;
 	flex-direction: row;;
	background-color: #0F1B27;
	border-radius: 8px;
	border:  1px solid #0F1B27;

}

dates > *
{
	display:flex;
	flex-direction: column;
	text-align: left;
	width: 50%;
	background-color: #FFFFFF;
	border-radius: 8px;
	border: 1px solid #0F1B27;
	border-top: 1px solid #0F1B27;
	box-sizing: border-box;
	padding: 2px;
}

requestDate::before
{
	content: "Data zgłoszenia: ";
}

startDate::before
{
	content: "Data rozpoczęcia:";
}

estimatedCompletionDate::before
{
	content: "Przewidywana data ukończenia: ";
}

realCompletionDate::before
{
	content: "Data ukończenia: ";
}

comment
{
	box-sizing: border-box;
	margin: 10px auto;
	padding: 10px;
	display: block;
	background-color: #FFFFFF;
	width: 100%;
	border-radius: 8px;
	border: 2px solid #0F1B27;
}

Team
{
	padding-top:15px;
	display: block;
	float: right;
	width: 20%;
	background-color: #FF8F00;
	margin: auto;
	border-radius: 10px 0 0 10px;
	min-height: 100%;
	padding-bottom: 15px;
	position: fixed;
	right: 0;
}

Team::before
{
	padding: 15px;
	font-size: 16pt;
	content: "Zespół:";
}

Person
{
	width: 80%;
	margin: 5px auto;
	padding: 3px 10px;
	height: 50px;
	display: table;
	background-color: #FFFFFF;
	border-radius: 8px;
	text-align: right;
}

Person > *
{
	display: inline-block;
	margin: 5px auto;
}

firstName::after
{
	content: " ";	 
	white-space: pre;
}

avatar[src="images/avatarPJ.png"]
{
	margin: 5px;
	float: left;
	width: 40px;
	height: 40px;
	content: url("images/avatarPJ.png");
}